.ke-micro-img {
    height: 61px;
    width: 81px;
}

.ke-small-img{
    height: 161px;
    width: 252px;
}

.ke-middle-img{
    height: 322px;
    width: 503px;
}

.ke-big-img{
    height: 644px;
    width: 1006px;
}

.war{
    font-size: 14px;
    color: red;
}